{% extends 'shop/layout.html.twig' %}
{% block title %}{{ 'base.delivery'|trans }}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumbs">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item">{{ 'user.identification'|trans }}</li>
                <li class="breadcrumb-item">{{ 'user.address'|trans }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'base.delivery'|trans }}</li>
                <li class="breadcrumb-item">{{ 'user.summary'|trans }}</li>
                <li class="breadcrumb-item">{{ 'base.payment'|trans }}</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock breadcrumb %}

{% block shop_content %}
<header class="mb-4">
    <h1>{{ 'base.delivery'|trans }}</h1>
</header>

{{ form_start(form, { 'attr': { 'id': 'form' } })  }}
{% for shippingMethod in form.shippingMethod %}
{% set index = shippingMethod.vars.value %}
{% set entity = form.shippingMethod.vars.choices[index].data %}
{% if entity.fee == 0 %}
{% set label = entity.name ~ ' ' ~ base.free|trans %}
{% else %}
{% set label = entity.name ~ ' ' ~ entity.fee ~ ' ' ~ base.currency_symbol|trans %}
{% endif %}
{{ form_row(shippingMethod, {
            'label': label,
        }) }}
{% endfor %}
{{ form_end(form) }}
<input type="submit" form="form" value="{{ 'product.next'|trans }}" class="btn btn-primary">

{% endblock %}