{% extends 'shop/layout.html.twig' %}
{% block title %}{{ 'user.my_account'|trans }}{% endblock title %}

{% block shop_content %}

<header class="mb-4">
    <h1>{{ 'user.my_account'|trans }}</h1>
</header>

<nav class="account-nav">
    <ul class="nav nav-tabs user-account-tabs">
        <li class="nav-item">
            <a href="#" class="nav-link active">{{ 'user.account'|trans }}</a>
        </li>
        <li class="nav-item">
            <a href="{{ path('user_orders') }}" class="nav-link active">{{ 'user.orders'|trans }}</a>
        </li>
    </ul>
</nav>

<section class="card">
    <header class="card-header">
        <h3>{{ 'user.identification'|trans }}</h3>
    </header>
    <div class="row card-body">
        <div class="col">
            <h4>{{ 'user.email'|trans }}</h4>
            <p>{{ app.user.email }}</p>
        </div>
        <div class="col">
            <h4>{{ 'user.password'|trans }}</h4>
            <a href="{{ path('security_change-password') }}"
                class="btn btn-secondary">{{ 'user.password_change'|trans }}</a>
        </div>
    </div>
</section>

<section class="user-contact mt-4">
    <div class="card mb-4">
        <header class="card-header">
            <h3>{{ 'user.contact_info'|trans }} <small class="text-secondary">{{ 'user.billing_address'|trans }}</small>
            </h3>
        </header>
        <div class="card-body">
            {{ render(controller(
                'App\\Controller\\UserController::editAddress'
            ))}}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input type="submit" form="user-contact-form" value="{{ 'save'|trans }}" class="btn btn-primary">
    </div>
</section>

{% endblock %}