{% if error %}
<div class="invalid-feedback d-block">
    <span class="initialism form-error-icon badge badge-danger">{{ 'pay.error'|trans }}</span>
    {{ error.messageKey|trans(error.messageData, 'security') }}
</div>
{% endif %}

{{ form_start(loginForm) }}
{{ form_row(loginForm.username, {
        'full_name': '_email',
        'value': lastUserName,
        'label': 'user.email'|trans,
    }) }}
{{ form_row(loginForm.plainPassword, {
        'full_name': '_password',
        'label': 'user.password'|trans,
    }) }}

{% if order == true %}
<input type="hidden" name="_target_path" value="{{ path('checkout_address') }}" />
{% endif %}

<input type="submit" value="{{ 'base.connection'|trans }}" class="btn btn-primary">
{{ form_end(loginForm) }}